* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.voiting {
  display: flex;
  max-width: 300px;

  margin: 0 auto;
  background-color: burlywood;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.voiting_item {
  display: flex;

  width: 50px;

  align-items: center;
  flex-direction: column;
}

.voiting_item_emoji {
  display: block;
  cursor: pointer;
  font-size: 2em;
}

.voiting_item_counter {
  display: block;
  margin-top: 20px;
  font-size: 2em;
}
